@import "../../../../AppBundle/Resources/assets/scss/variables.scss";


/*****************************************
 * FORMS STYLE
 ****************************************/
.form-body {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 25px;
  @include radius(10px);
  width: 500px;
  max-width: 100%;
  margin: 30px auto;
  color: #fff;

  label {
    font-size: 1.75rem;
    font-weight: 400;
  }

  input {
    font-size: 1.7rem;
  }

  button {
    margin-top: 15px;
    display: inline-block;
    padding: 8px 45px 7px;
    background-color: $color-custom;
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: none;
    letter-spacing: 3px;
    outline: none;
    @include radius(5px);
    @include transition(0.2);

    &:hover {
      background-color: $color-custom-hover;
    }

    &:active,
    &:focus {
      border: none;
    }
  }

  .has-feedback {
    .form-control-feedback {
      color: $color-main;
      top: 40px;
      height: 20px;
    }
  }

  .has-error {
    input {
      background-color: #ffe2e2;
    }
  }

  .errors-message {
    color: #ff8f92;
    font-size: 1.3rem;

    ul {
      padding-left: 17px;
      margin-bottom: 0;
    }
  }
}