{% extends 'AppBundle::base.html.twig' %}

{% block title %} | {{ title }}{% endblock %}

{% block body %}

    <div class="page-title">
        <h1>{{ title }}</h1>
    </div>

    <div class="form-body">
        {% if error %}
            <div class="errors-message mb-2 text-center">
                <h4>{{ error.messageKey }}</h4>
            </div>
        {% endif %}

        {{ form_start(form) }}
            <div class="form-group has-feedback">
                {{ form_label(form._username) }}
                {{ form_widget(form._username, { 'full_name': '_username', 'attr': {'class': 'form-control has-feedback-left'} }) }}
                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="form-group has-feedback">
                {{ form_label(form._password) }}
                {{ form_widget(form._password, { 'full_name': '_password', 'attr': {'class': 'form-control has-feedback-left'} }) }}
                <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="text-center">
                <button type="submit">Login</button>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
{% endblock %}
