{% extends 'AppBundle::base.html.twig' %}

{% block title %} | {{ title }}{% endblock %}

{% block body %}

    <div class="page-title">
        <h1>{{ title }}</h1>
    </div>

    <div class="form-body">
        {{ form_start(form) }}
            <div class="form-group has-feedback {% if form.username.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.username, 'You Name') }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-control has-feedback-left'} }) }}
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>

                <div class="errors-message">
                    {{ form_errors(form.username) }}
                </div>
            </div>

            <div class="form-group has-feedback {% if form.email.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control has-feedback-left'} }) }}
                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>

                <div class="errors-message">
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div class="form-group has-feedback {% if form.passwordForm.first.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.passwordForm.first) }}
                {{ form_widget(form.passwordForm.first, { 'attr': {'class': 'form-control has-feedback-left'} }) }}
                <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>

                <div class="errors-message">
                    {{ form_errors(form.passwordForm.first) }}
                </div>
            </div>

            <div class="form-group has-feedback {% if form.passwordForm.second.vars.valid == false %}has-error{% endif %}">
                {{ form_label(form.passwordForm.second) }}
                {{ form_widget(form.passwordForm.second, { 'attr': {'class': 'form-control has-feedback-left'} }) }}
                <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>

                <div class="errors-message">
                    {{ form_errors(form.passwordForm.second) }}
                </div>
            </div>

            <div class="text-center">
                <button type="submit">Register</button>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
{% endblock %}