<!DOCTYPE html>
<html>
    <head>
        <title>The Witcher Tweet{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="description"  content="{% block description %}{% endblock %}">
        {% block meta %}{% endblock %}

        <!-- styles -->
        <link rel="stylesheet" href="{{ asset('build/css/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        {% block stylesheets %}{% endblock %}

        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}">
    </head>
    <body>
        {% block preloaderjs %}{% endblock %}

        <!-- background -->
        <div class="website-bg"></div>

        <!-- main container -->
        <main>
            {{ include('@App/top-bar.html.twig') }}

            <section class="page-content container">
                {% block body %}{% endblock %}
            </section>
        </main>

        <!-- js -->
        <script src="{{ asset('build/js/vendor.js') }}"></script>
        <script src="{{ asset('build/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
