<section class="top-bar">
    <div class="container">
        <div class="row">

            <div class="col-xs-5 col-sm-4">
                <a class="logo" href="{{ path('homepage') }}">
                    <img src="{{ asset('img/logo.png') }}" alt="witcher logo">
                    <h1>The Witcher </br> <span>Tweet</span></h1>
                </a>
            </div>

            <div class="col-xs-7 col-sm-8 text-right">
                <ul>
                    {% if app.user %}
                        <li><i class="fas fa-user"></i> {{ app.user.username }}</li>
                        <li class="separator">|</li>
                        <li><a class="link" href="{{ path('user_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a class="link" href="{{ path('user_login') }}">Login</a></li>
                        <li class="separator">|</li>
                        <li><a class="link" href="{{ path('user_registration') }}">Registration</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
</section>