@import "variables.scss";


/*****************************************
 * BASE STYLES
 ****************************************/
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  color: $color-main;
  font-weight: 400;
}

main {
  min-height: 100%;
  position: relative;
  padding: 100px 0 50px;
}

a {
  &,
  &:active,
  &:focus {
    color: $color-custom;
    text-decoration: none;
  }

  &:hover {
    color: $color-custom-hover;
  }
}

* {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}


/*****************************************
 * Website background
 ****************************************/
.website-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('../img/witcher_bg.jpg') center no-repeat;
  background-size: cover;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 390px;
    background: url('../img/witcher.png') bottom left no-repeat;
    background-size: 100% auto;
  }

  @media screen and (max-width: 599px) {
    opacity: 0.9;
  }
}


/*****************************************
 * TOP BAR
 ****************************************/
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  padding: 5px 0;
  border-bottom: 2px solid #000;
  z-index: 5;

  a {
    color: #fff ! important;
  }

  .logo {
    position: relative;
    display: inline-block;

    img {
      position: relative;
      height: 52px;
      float: left;
      margin-right: 10px;
    }

    h1 {
      margin: 0;
      font-size: 1.8rem;
      font-family: $font-title;
      line-height: 1.1;
      display: inline-block;
      position: relative;
      top: 3px;

      span {
        font-size: 2.7rem;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
        @include transition(0.2);
      }
    }

    &:before {
      content: " ";
      display: block;
      position: absolute;
      bottom: 0px;
      right: -17px;
      width: 165px;
      height: 30px;
      background: url("../img/sword.png") center right no-repeat;
      background-size: 100% auto;
      @include transition(0.2);
    }

    &:hover {
      h1 span {
        opacity: 1;
        color: $color-custom;
      }

      &:before {
        right: -10px;
      }
    }
  }

  ul {
    width: 100%;
    margin-bottom: 0;
    padding-top: 10px;
    list-style: none;

    li {
      display: inline-block;
      margin: 5px 0;
      max-width : 300px;
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.separator {
        padding: 0 5px;
        opacity: 0.5;
      }
    }
  }

  @media screen and (max-width: 767px) {
    ul {
      padding-top: 0;
      padding-left: 10px;

      li {
        display: block;
        list-style: none;
        margin: 3px 0;
        max-width: 100%;

        &.separator {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 599px) {
    .logo {
      img {
        height: 46px;
      }

      h1 {
        font-size: 1.4rem;

        span {
          font-size: 2.2rem;
        }
      }

      &:before {
        width: 125px;
      }
    }
  }

  @media screen and (max-width: 475px) {
    padding-bottom: 1px;

    .logo {
      img {
        height: 30px;
        margin-right: 5px;
        top: 2px;
      }

      h1 {
        font-size: 1.1rem;

        span {
          font-size: 1.6rem;
        }
      }

      &:before {
        width: 100px;
      }
    }
  }

}


/*****************************************
 * Page title
 ****************************************/
.page-title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-family: $font-title;
  text-shadow: 1px 1px 27px rgba(0, 0, 0, 1);
  text-transform: uppercase;
}


/*****************************************
 * Page content
 ****************************************/
.page-content {
  position: relative;
  z-index: 2;

  // homepage tweets list
  .tweets-list {
    position: relative;

    .tweet-wrap {
      .tweet {
        position: relative;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;
        color: #fff;
        word-break: break-word;
        @include radius(5px);
        @include transition(0.2);

        a {
          &,
          &:active,
          &:focus {
            color: #fff;
            text-decoration: none;
          }

          &:hover {
            color: #fff;
          }
        }

        .author {
          position: relative;
          padding: 10px 40px 10px 0;
          font-family: $font-title;

          img {
            position: absolute;
            top: 50%;
            right: 0;
            width: 30px;
            height: 30px;
            margin-top: -15px;
            @include radius(100%);
          }
        }

        .date {
          text-align: right;
          font-size: 1.4rem;
          opacity: 0.8;
          padding-right: 6px;
          border-top: 1px solid #fff;
          margin: 10px 0;
        }

        h3 {
          font-size: 1.4rem;
          background-color: rgba(0, 0, 0, 0.75);
          padding: 5px;
          @include radius(5px);
          margin-top: 10px;
          line-height: 1.3;
        }

        .img-body {
          img,
          video {
            width: 100%;
          }
        }

        &:hover {
          background-color: $color-custom-hover;
          -webkit-box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.75);
        }

        .bottom {
          margin-top: 10px;
          padding-left: 50px;
          position: relative;
          min-height: 20px;
          text-align: right;

          .count {
            position: absolute;
            left: 0;
            top: 0;
            text-align: left;
          }

          .like {
            display: inline-block;
            padding: 5px 20px 4px;
            background-color: #fff;
            color: #000;
            text-transform: uppercase;
            cursor: pointer;
            letter-spacing: 1px;
            @include radius(5px);
            @include transition(0.2);

            &:hover {
              background-color: rgba(0,0,0,0.85);
              color: #fff;
            }
          }
        }
      }
    }

    @media screen and (max-width: 599px) {
      max-width: 400px;
      margin: 0 auto;

      .tweet-wrap {
        width: 100%;
        float: none;
        padding: 0;
      }
    }

  }

  h2 {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    font-family: $font-title;
    font-size: 2rem;
    padding: 30px 15px;
    @include radius(10px);

    span {
      font-size: 3rem;
      padding-bottom: 15px;
      display: inline-block;
    }
  }

}


/*****************************************
 * Loader animation
 ****************************************/
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  font-family: $font-title;
  text-transform: uppercase;
  color: $color-custom;
  letter-spacing: 0.15em;
  margin: 15px auto;
  font-size: 1.4em;

  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: $color-custom-hover;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}

#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.9);

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -125px;
  }
}