/*****************************************
 * APP SCSS VARIABLES
 ****************************************/
$font-title: 'Metamorphous', 'Roboto', cursive;
$font-main: 'Roboto', sans-serif;
$color-main: #4a4a4a;
$color-custom: #da1e23;
$color-custom-hover: #8b0606;

@mixin radius ($per) {
  -webkit-border-radius: $per;
  -moz-border-radius: $per;
  border-radius: $per;
}

@mixin transition ($sec) {
  -webkit-transition: all $sec + s;
  -moz-transition: all $sec + s;
  -o-transition: all $sec + s;
  transition: all $sec + s;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}