{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="row tweets-list">
        {% for tweet in tweets %}
            <div class="col-xs-6 col-md-4 tweet-wrap">
                <article class="tweet{% if loop.last %} last{% endif %}" data-id="{{ tweet.id }}">
                    <div class="text-right">
                        <div class="author">
                            <img src="{{ tweet.user_photo }}" alt="{{ tweet.user_name }}">
                            <a href="{{ tweet.user_url }}" target="_blank">{{ tweet.user_name }}</a>
                        </div>
                    </div>

                    <div class="date"><span>{{ tweet.created_at }}</span> <i class="far fa-clock"></i></div>

                    <h3><a href="{{ tweet.url }}" target="_blank">{{ tweet.text }}</a></h3>

                    <div class="img-body">
                        <a href="{{ tweet.url }}" target="_blank">
                            {% if tweet.video != false %}
                                <video preload="auto" poster="{{ tweet.image }}" src="{{ tweet.video }}" type="video/mp4" autoplay muted loop>
                                    <img src="{{ tweet.image }}" alt="tweet {{ tweet.id }}"/>
                                </video>
                            {% else %}
                                <img src="{{ tweet.image }}" alt="tweet {{ tweet.id }}"/>
                            {% endif %}
                        </a>
                    </div>

                    <div class="bottom">
                        <div class="count"><i class="far fa-thumbs-up"></i> <span>{{ tweet.likes }}</span></div>
                        <span class="like">I like it <i class="far fa-heart"></i></span>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block meta %}
    <meta name="tweets-load-url"  content="{{ path('tweets-load') }}">
    <meta name="tweets-like-url"  content="{{ path('tweets-like') }}">
{% endblock %}


{% block preloaderjs %}
    <script content="text/html" data-id="app-preload-js">
        websitePreLoadingInit();

        /**
         * Init website pre-loader
         */
        function websitePreLoadingInit() {
            let $loaderWrap = document.createElement('div');
            $loaderWrap.setAttribute('id', 'loader-wrapper');
            $loaderWrap.innerHTML = '<div class="loader">... loading ...</div>';
            document.body.appendChild($loaderWrap);

            // remove action
            window.addEventListener('load', websitePreLoadingRemove)
        }

        /**
         * Remove pre-loader after window load
         */
        function websitePreLoadingRemove() {
            // remove loader
            let loader = document.getElementById('loader-wrapper');
            loader.parentNode.removeChild(loader);

            // remove js loader
            let js = document.querySelector('[data-id="app-preload-js"]');
            js.parentNode.removeChild(js);
        }
    </script>
{% endblock %}